.createTrip {
  display: flex;
  width: 100%;

  .createTripContainer {
    flex: 6;

    .formInput {
      box-shadow: 2px 4px 10px 1px rgba(14, 27, 77, 0.47);
      margin: 0 5rem;
      padding: 1rem 0;
      border-radius: 15px;
      background-color: #fff;

      .title {
        font-size: 1.5rem;
        text-align: center;
        color: gray;
      }

      #createTripForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3.5rem;

        .formGroup {
          display: flex;
          flex-direction: column;
          width: 50%;
          gap: 15px;
          justify-content: center;
          align-items: center;

          .formControl {
            border: solid black;
            border-radius: 15px;
            padding: 0.5rem;

            &:focus {
              outline: none;
              border-color: #25abe3;
            }
          }

          .imgContainer {
            width: 350px;
            height: 250px;

            .imgUpload {
              width: 100%;
              height: 100%;
              object-fit: cover;
              box-shadow: 2px 4px 10px 1px rgba(14, 27, 77, 0.47);
              color: gray;
              display: flex;
              flex-direction: column;
              align-items: center;
              // padding: 0.5rem;

              border-radius: 10px;
              flex: 1;
            }
          }
        }
      }
    }

    .btn {
      .btnSubmit {
        margin-top: 20px;
        margin-right: 10px;
        border-style: solid;
        border-radius: 15px;
        width: 5rem;
        height: 2rem;
        font-weight: bold;
        transition: 0.5s ease-in;

        &:hover {
          background-color: #25abe3;
          cursor: pointer;
          color: #fff;
        }
      }
      .btnBack {
        margin-top: 20px;
        margin-right: 10px;
        border-style: solid;
        border-radius: 15px;
        width: 5rem;
        height: 2rem;
        font-weight: bold;
        transition: 0.5s ease-in;

        &:hover {
          background-color: #25abe3;
          cursor: pointer;
          color: #fff;
        }
      }
    }
  }
}
