.chart-trips {
	box-shadow: 2px 4px 10px 1px rgba(14, 27, 77, 0.47);
	color: gray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	padding: 1rem;
	border-radius: 10px;

	.title {
		font-size: 1.5rem;
	}
}
